/* General */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #000;
}

/* Navbar */

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 20px;
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: #000 !important;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
}

/* Social Links */

.social-links {
    list-style: none;
    padding: 0;
    margin: 20px auto;
}

.social-links li {
    display: inline-block;
    margin: 10px;
}

.social-links a {
    color: #000;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #007bff; /* Bootstrap blue */
}

/* Publications */

#publications li {
    list-style: none;
}

#publications > li:not(:last-child) {
    margin-bottom: 2.5em;
}

#publications .title {
    font-weight: bold;
}

#publications author-me {
    text-decoration: underline dotted;
}

#publications .links li {
    padding: 0.1em 0;
}

.absBox, .bibBox {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.absBox {
    text-align: justify;
}

.absBox p {
    margin-bottom: 0;
}

.bibBox {
    position: relative;
}

.bibBox pre {
    white-space: pre-wrap;
    margin-bottom: 0;
}

.copyButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

/* Presentations */

#presentations li {
    list-style: none;
}

#presentations li:not(:last-child) {
    margin-bottom: 2.5em;
}

#presentations .title {
    font-weight: bold;
}

/* Accordion */

.accordion-button {
    color: #000;
    background-color: #fff;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
    border-width: 0;
}

.accordion-button:focus, .accordion-button:not(.focus) {
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff;
}

/* Image styles */

img.img-responsive {
    border-radius: 50%; /* Circle face image */
    object-fit: cover;
}
